@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  background: url("../public/1671473247_kalix-club-p-oboi-na-telefon-krasivie-estetika-krasivo-1.jpg")
    no-repeat;
  background-size: cover;
}

.container {
  margin: 0 auto;
  padding: 2rem;
}

.title {
  text-align: center;
  font-size: 30px;
  color: white;
}

.main {
  padding: 5rem 15rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box {
  width: 34rem;
  height: 30rem;
  border-radius: 5%;
  padding: 2rem;
  display: flex;
  font-size: 18px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  background: white;
  text-align: center;
  line-height: 1.5rem;
}

.microphoneIcon {
  width: 4rem;
  cursor: pointer;
  z-index: 5;
}

.microphoneIconClicked {
  width: 4rem;
  cursor: pointer;
  opacity: 50%;
  z-index: 5;
}

.pulse {
  position: relative;
  text-align: center;
  padding: 20px;
  border-radius: 10%;
  background: white;
  width: 4rem;
  height: 4rem;
  z-index: 1;
  cursor: pointer;
}
.pulse::after,
.pulse::before {
  content: "";
  position: absolute;
  border: 2px solid #c24a54;
  left: -10px;
  opacity: 0;
  right: -10px;
  top: -10px;
  bottom: -10px;
  border-radius: 50%;
  animation: pulse 2.5s linear infinite;
  z-index: 1;
}

.pulse::after {
  animation-delay: 1.25s;
  z-index: 1;
}

@keyframes pulse {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}
.box__button {
  border-radius: 5px;
  cursor: pointer;
  border: none;
  padding: 1rem;
  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  outline: 1px solid lightgray;
}
.box__button_active {
  background-color: #6495ed;
  color: white;
}
.box__result p {
  font-weight: bold;
}

@media (max-width: 500px) {
  .container {
    padding: 1rem;
  }

  body {
    font-size: 11px;
  }
  .title {
    font-size: 20px;
  }
  .main {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .box {
    width: 80vw;
    height: 12rem;
    font-size: 11px;
    border-radius: 1rem;
    padding: 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
  }

  .microphoneIcon {
    width: 3rem;
  }

  .microphoneIconClicked {
    width: 3rem;
  }

  .pulse {
    padding: 7px;
    border-radius: 5%;
    width: 3rem;
    height: 3rem;
  }
  .box__button {
    border-radius: 5px;
    cursor: pointer;
    border: none;
    padding: 0.5rem;
  }
}
@media (min-width: 501px) and (max-width: 720px) {
  .container {
    padding: 1rem;
  }
  body {
    font-size: 12px;
  }
  .title {
    font-size: 20px;
  }
  .container {
    padding: 1rem;
  }

  .main {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .box {
    width: 80vw;
    height: 15rem;
    font-size: 12px;
    border-radius: 1rem;
    padding: 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
  }

  .microphoneIcon {
    width: 3rem;
  }

  .microphoneIconClicked {
    width: 3rem;
  }

  .pulse {
    padding: 7px;
    border-radius: 5%;
    width: 3rem;
    height: 3rem;
  }
  .box__button {
    border-radius: 5px;
    cursor: pointer;
    border: none;
    padding: 0.8rem;
  }
}
@media (min-width: 721px) and (max-width: 990px) {
  .container {
    padding: 0;
  }
  body {
    font-size: 13px;
  }
  .title {
    font-size: 22px;
  }
  .main {
    padding: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .box {
    margin-bottom: 2rem;
    width: 35vw;
    height: 15rem;
    font-size: 12px;
    border-radius: 1rem;
    padding: 0.8rem;
    display: flex;

    justify-content: space-between;
    align-items: center;
  }

  .microphoneIcon {
    width: 2.5rem;
  }

  .microphoneIconClicked {
    width: 2.5rem;
  }

  .pulse {
    padding: 7px;
    border-radius: 5%;
    width: 2.5rem;
    height: 2.5rem;
  }
  .box__button {
    border-radius: 5px;
    cursor: pointer;
    border: none;
    padding: 0.4rem;
  }
}
@media (min-width: 991px) and (max-width: 1700px) {
  .container {
    padding: 0;
  }
  body {
    font-size: 14px;
  }
  .title {
    font-size: 24px;
  }
  .main {
    padding: 4rem 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .box {
    margin-bottom: 2rem;
    width: 30vw;
    height: 20rem;
    font-size: 14px;
    border-radius: 1rem;
    padding: 0.8rem;
    display: flex;

    justify-content: space-between;
    align-items: center;
  }

  .microphoneIcon {
    width: 2.7rem;
  }

  .microphoneIconClicked {
    width: 2.7rem;
  }

  .pulse {
    padding: 7px;
    border-radius: 5%;
    width: 2.7rem;
    height: 2.7rem;
  }
  .box__button {
    border-radius: 5px;
    cursor: pointer;
    border: none;
    padding: 0.6rem;
  }
}
